In [10]:
#task 1 Create a variable rollno and assign an integer value to it. Print the value of rollno, the id, and the data type.
rollno = 2
print(id(rollno))
print(type(rollno))
print(rollno)

140627522230608
<class 'int'>
2

In [11]:
#Create a variable firstname and assign a string value to it. Print the value of firstname, the id, and the data type.
firstName = 'Marcos'
print(id(firstName))
print(type(firstName))
print(firstName)

140627592454512
<class 'str'>
Marcos

In [13]:
#Create a variable maxmarks and assign the value 50 to it. Print the value of maxmarks, the id, and the data type.
maxMarks = 50
print(id(maxMarks))
print(type(maxMarks))
print(maxMarks)

140627522232144
<class 'int'>
50

In [ ]:
#Create a variable lastname and assign a string value to it. Print the value of lastname, the id, and the data type.
lastName = 'Garcia'
print(id(lastName))
print(type(lastName))
print(lastName)

In [15]:
#task 2 Naming a Variable
#Execute the following expressions individually and explain the observations (if any) for each of them:


var1 = 2
#no output - not printing anything

In [17]:
2var = 2
#invalid syntax - cant lead with a number as variables

SyntaxError: invalid syntax (1705884949.py, line 1)

In [19]:
var 1 = 2
#invalid syntax - cant have spaces

SyntaxError: invalid syntax (1069141224.py, line 1)

In [20]:
var$2 = 2
#invalid syntax - no special characters in variable names

SyntaxError: invalid syntax (2077339643.py, line 1)

In [1]:
#task3 Assigning Values to a Variable

Class = 15
#no output - not printing it or calling it, and try not to start your variables with capitals

In [24]:
class = 14
#invalid syntax - class is a function so you cant use that

SyntaxError: invalid syntax (1242795455.py, line 1)

In [25]:
DEF = 13
#no output- not printing it or calling it, and try not to start your variables with capitals

In [26]:
def = 12
#invalid syntax- class is a function so you cant use that

SyntaxError: invalid syntax (1759817278.py, line 1)

In [27]:
a = TRUE
# name 'TRUE' is not defined - Must be 'True'

NameError: name 'TRUE' is not defined

In [28]:
b = false
# name 'false is not defined, must be 'False'

NameError: name 'false' is not defined

In [29]:
#task4 Using id() 
#Create a variable named marks and assign it a float value between 0 and 100. Print the value, the id, and the data type.


marks = 5.5
print(id(marks))
print(type(marks))
print(marks)

140627592329136
<class 'float'>
5.5

In [30]:
#Change the value of marks to any other float value between 0 and 100. Print the value of marks, the id, and the data type


marks = 10.5
print(id(marks))
print(type(marks))
print(marks)
#the id is different , maybe because its a different value

140627592328208
<class 'float'>
10.5

In [46]:
#task5 Define a variable maxmarks and assign it the value 100. Divide marks by maxmarks. Print the output as a percentage.
maxmarks = 100
maxmarks = marks / maxmarks

maxmarks = '{:.2%}'.format(maxmarks)
print(maxmarks)

10.50%

In [48]:
#Print the value of the variable fullname by joining firstname and lastname.

fullName = firstName + " " + lastName
print(fullName)

Marcos Garcia

In [53]:
print (fullName + " scored " + maxmarks)

Marcos Garcia scored 10.50%

In [75]:
#task6 Creating Data Structures
#Use the variable rollno as a key and the variable fullname as a value to create a dictionary data structure.

a_dict = {"rollno":"marcos"}

b_dict = [rollno, fullName]

print(a_dict)
print(b_dict)

{'rollno': 'marcos'}
[2, 'Marcos Garcia']

In [54]:
#task7 Arithmetic Operations
#Execute the following expressions and explain the observations of the output:


1 + "2"
# unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
"1" + "2"
#combined the strings

'12'

In [56]:
1/2
#Arithmetic -> division

0.5

In [57]:
1//2
#divids and rounds to the smallest whole number

0

In [63]:
#task8 Logical Operations
#Execute the following commands and explain the output for each:

True and True #two trues is true

True

In [64]:
True and False
#both conditions need to be true

False

In [65]:
False or True
#only one condition has to be true

True

In [66]:
False or False

False

In [67]:
#task9  Identity and Membership Operations
# Compare firstname and fullname using the in operator. Print and explain the output.


firstName in fullName
#true because "Marcos" was found in the string fullName "Marcos Garcia"

True

In [68]:
firstName is fullName

#they refer to different objects but are still not equal
# '==' is used to test if theyre equal

False

In [73]:
#task10
a = 4
b = 3
c = 2
d = a ** b + c
e = a ** (b + c)
print (d)
# d first executes 4 to the 3rd power then adds it to 2
print (e)
# e first does (3+2) and then 4 gets raised to the 5th power

66
1024